<!DOCTYPE html>
{% extends 'accounts/main.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit_address</title>
</head>
<body>
{% block content %}

<br>
<div class="row">
    <div class="col-md-3">
        <div class="card card-body">
            <a class="btn btn-warning" href="{% url 'account_setting' %}"> &#8592; Back to settings</a>
            <hr>
            <img class="profile-pic" src="{% static 'images/address.png' %}">
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-body">

            <form method="POST" action="">
                {% csrf_token %}
                <!--                {% for i in form%}-->
                <!--                <div class="row mb-3">-->
                <!--                    <label class="col-sm-3 col-form-label">{{i.label}}: </label>-->
                <!--                    <div class="col-sm-6">-->
                <!--                        {{i}}-->
                <!--                    </div>-->
                <!--                </div>-->
                <!--                {% endfor %}-->

                <h6 style="color:orange;">Note: Please Select address again</h6><br>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">{{form.address.label}}: </label>
                    <div class="col-sm-6">
                        {{form.address}}
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">{{form.country.label}}: </label>
                    <div class="col-sm-6">
                        <select class="form-select" id="country" name="country">
                            <option value='{{form.country}}' name="country">Country</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">{{form.state.label}}: </label>
                    <div class="col-sm-6">
                        <select class="form-select" id="state" name="state">
                            <option value='{{form.state}}' name="state">State</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">{{form.city.label}}: </label>
                    <div class="col-sm-6">
                        <select class="form-select" id="city" name="city">
                            <option name="city" value='{{form.city}}'>City</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">{{form.zipcode.label}}: </label>
                    <div class="col-sm-6">
                        {{form.zipcode}}
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">{{form.selected.label}}: </label>
                    <div class="col-sm-6">
                        {{form.selected}}
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" name="Update Information" value="update Address">
            </form>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>