<!DOCTYPE html>
{% extends 'accounts/main.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" http-equiv="refresh" content="5">
    <title>Create Coupons</title>
</head>
<body>
{% block content%}

<div class="row">
    <div class="col-md-12">
        <p align="left">
            <a class="btn btn-outline-dark bg-warning" href="{% url 'checkout' %}">&#x2190; Back to Checkout</a>
        </p>
        <h4 style="color:red;" align="center">{{user_name}} coupons</h4>
        <hr>

        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Sr. no.</th>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Allowed Above</th>
                    <th>Start Date</th>
                    <th>Expire Date</th>
                    <th>Expired</th>
                    <th>Discount %</th>
                </tr>

                {% for coupon in coupons %}
                {% if not coupon.is_expired %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{coupon}}</td>
                    <td>{{coupon.coupon_code}}</td>
                    <td>{{coupon.allowed_above}}</td>
                    <td>{{coupon.start_on}}</td>
                    <td>{{coupon.expire_on}}</td>
                    <td>{{coupon.is_expired}}</td>
                    <td>{{coupon.discount}}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>